body {

    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.8;

}

.container {

  line-height: 1.8;
  margin-top: 5%;

}

h2, h3 {

    letter-spacing: 4px;
}

.header1 {

    margin-top:0%;
}

nav .container {

    margin-top:0%;
}

.hero-img {

   background-image: url('teacher1d.jpg');
   height: 400px;
   background-size: cover;

}

.bck {

    color: white;
    background-color: #518671;
    height: 300px;

}

.t {

   text-align: center;
   margin-top: 5%;

}

#loc {

    width: 25rem;

}

.destinations {

    display: flex;
    justify-content: center;



}

.destinations button {

    background-color: white;
    border: 1px solid #d9d8d8;
    width: 50%;
    margin: auto;
    padding: 2%;
    text-transform: uppercase;
}

.l-text {

    text-align: center;


}

.l-text h2 {

    text-transform:  uppercase;

}

.l-text p {

    color: grey;
    font-size: 18px;
}

.trav {

    margin-top: 5%;
    

}


.travel {


    text-align: center;
    text-transform: uppercase;
    background-color: #518671;
    height: 200px;
    padding-top: 3%;

}

.article1 button {

    background-color: white;
    border: none;
    


}

#arti {

    border: 1px solid #f4f2f2;;
    width: none;
    
}


.mini-cards li {

    border-bottom: 1px solid #f4f2f2;
    padding: 10%;
    list-style: none;


}

.grp-main img {

    max-width: 100%;
}




nav {


    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}


.para img {
    
    max-width: 100%;
    height: 400px;
    
}

.head-red {

  margin-top: 0%;

}

.f2, .sec1, .sec2, .sec3 {

 margin-top: 5%;

}

.sub1  {
    
   text-align: left; 
    
}


.sub1 h4 {

    font-family: 'Lora', serif;
    

}


.card-text1 h3 {


    font-family: 'Lora', serif;
    font-size: 20px;

}


h3 {
    
    font-weight: 300;
}

.sec3 {
    
    
    background-image: url("https://wallpapercave.com/wp/Tjjfihk.jpg");
    background-size: cover;
    color: white;
    height: 400px;
    
}

.wosh {
    
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 4%;
    padding-bottom: 4%;
    
}

.sec1 img {
    
    border: 1px solid grey;
    border-radius: 15px;
    
}

.sec5 {
    
    margin: auto;
    
    
}



.card {
    
   
    padding-bottom: 2%;
    text-align: center;
    margin-bottom: 5%;
    border: 1px solid #f4f2f2;
    margin-left: 1%;
border-radius: 0px;
}

.card h2 {

    padding-top: 8px;

}

.card-t {
    
    margin-top: 10%;
    
}

.banner-a {
    
    margin-top: 5%;
}


.subcardgr {
    
    display:flex;
    
    
}

.card-text1 {


    margin-bottom: 3%;
 

}

.image1 {
    
    margin: auto;
}

.testo {
 
   margin-top: 10%;  
   width: 70%;
 
    
}




.grp {


    display: flex;
  

}

.grp1 {
    width:50%;
}




.placeholder1 {
	background-image: url(https://www.lenisagency.com/img_2017/opening_mobile.jpg);
	background-size: cover;
	height:300px;

}

.placeholder2 {
    
    background-color: #b93f27
    
}

.sec1 {
    
    margin-top: 10%;
    
}

.sec8 {
 
    display: flex;
    justify-content: center;
    
}

footer {
    
    background-color: #518671;
    /*background-color: #FAF5EF;
    margin-top: 10%;
    */
}

.f1 {
    
    border-bottom: 1px solid #d7d5d5;;
    padding-top: 5%;
    
}


.f2 {
    
    border-bottom: 1px solid #d7d5d5;
    padding-top: 5%;
    display: flex;
   
    

    
}

.f2 h3 {


    font-family: 'Lora', serif;
    font-size: 22px;

}

@media only screen and (max-width: 600px) {


    .mi {

        display: none;
    }

    .card {
        
        overflow: hidden;
height: 300px;

}

.mini-cards {

    overflow: visible;
}

.destinations {

    flex-direction: column;
}


.f2 {
      flex-direction: column;
}

.grp-main {

    flex-direction: column;
}


}

